<div class="bg-cover pd-header" style="height: 64px">
    <div class="container"></div>
</div>

<% if (theme.banner.enable) { %>
    <script>
        // 每天切换 banner 图.  Switch banner image every day.
        $('.bg-cover').css('background-image', 'url(/medias/banner/' + new Date().getDay() + '.jpg)');
    </script>
    <% } else { %>
    <script>
        $('.bg-cover').css('background-image', 'url(/medias/banner/0.jpg)');
    </script>
<% } %>